.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  min-height: 100vh;
}

.title {
  background-color: aqua;
  max-width: 500px;
  font-size: 500%;
  font-family: cursive;
  text-align: center;
  margin-top: 20px;
}

.menu-list-wrapper {
  position: relative;
  background-color: blue;
  padding-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.Menu {
  background-color: aliceblue;
  color: black;
  width: 300px;
  max-width: 200px;
  font-size: 200%;
  text-align: center;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.item1, .item2, .item3, .item4 {
  background-color: rgb(223, 194, 156);
  font-size: 40px;
  padding: 40px;
  text-align: center;
}
.label-menu{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
  color: black;
}
.list {
  font-size: 300%;
  height: 500px;
  width: 1000px;
  background-color: aquamarine;
  color: black;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12 {
  font-size: 70%;
  background-color: rgb(235, 3, 224);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 20px;
  margin: 10px;
}
